body {
  color: #333;
}
#particles-js {
  position: absolute;
  display: block;
  top: 0;
  left: 0;
  z-index: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: #223464;
}
h5,
.h5 {
  font-size: 1.2em;
  line-height: 1.7em;
}
.info {
  padding: 0px 0 0px;
}
.info .info-title {
  margin: 25px 0 15px;
  font-size: 22px;
  letter-spacing: -0.5px;
  color: #223464;
}
.info p {
  font-size: 1.2em;
  font-weight: 400;
}
.desc {
  color: #5d648e;
  margin-bottom: 25 px;
  margin-top: 12px;
}

.navbar .navbar-nav .nav-link:not(.btn) {
  text-transform: none;
}
.footer ul li a {
  text-transform: none;
}
.navbar p {
  font-size: 1.5em;
}
.carousel-caption h5 {
  color: #fff;
}

[class*="btn-outline-"] {
  white-space: nowrap;
  display: inline-block;
  line-height: 48px;
  height: 50px;
  padding: 0px 35px;
  border: 2px solid;
  background-color: transparent;
  border-radius: 6px;
  font-size: 13px;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 0.025em;
}

.btn:hover, .btn:focus, .btn:active, .btn:active:focus {
  /* border-color: #6772e5;
  color: #6772e5; */
  -webkit-transform: translateY(-1px);
  transform: translateY(-1px);
  -webkit-box-shadow: 0 7px 14px rgba(50,50,93,0.1), 0 3px 6px rgba(0,0,0,0.08);
  box-shadow: 0 7px 14px rgba(50,50,93,0.1), 0 3px 6px rgba(0,0,0,0.08);
}

.ipad .lid {
  width: 1024px;
  height: 625px;
  background: linear-gradient(45deg, #e5ebf2, #f3f8fb);
  border-radius: 20px;
  -webkit-box-shadow: inset 1px -4px 6px rgba(145,161,181,0.3);
  box-shadow: inset 1px -4px 6px rgba(145,161,181,0.3);
  position: absolute;
}
.ipad .carousel{
  top: 25px;
  bottom: 25px;
  right: 25px;
}

.space-50 {
  height: 50px;
  display: block;
}
.space-180 {
  height: 180px;
  display: block;
}
